main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main>h2{
    flex-basis: 100%;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    row-gap: 1vw;
    border-radius: 15px;
    padding: 2%;
    font-size: 2rem;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid rgb(59, 188, 235);
    -webkit-box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
    -moz-box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
    box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
}

form>input{
    background-color: rgb(20, 20, 20);
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 10px;
}

form>textarea{
    background: rgb(20, 20, 20);
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    resize: none;
    border-radius: 10px;
}

form>button{
    background-color: rgb(20, 20, 20);
    padding: 2%;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

main>.social-medias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(59, 188, 235);
    -webkit-box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
    -moz-box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
    box-shadow: 4px 15px 53px -13px rgba(58, 188, 235, 1);
    padding: 1%;
    border-radius: 10px;
    margin-top: 2%;
}

.social-medias>p{
    color: rgb(255, 177, 251);
}

@media(max-width: 800px){
    form{
        flex-basis: 80%;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        row-gap: 4vw;
        padding: 2%;
        margin-bottom: 4%;
    }
    form>input, form>textarea, form>button{
        font-size: 1.3rem;
        width: 70%;
    }
    main>.social-medias{
        width: 80%;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    main>.social-medias>p{
        margin-bottom: 3%;
    }
    main>.social-medias>a{
        margin: 2%;
    }
}