.music{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    margin: 2%;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
    transition: all 0.2s;
}

.music:hover{
    font-size: 95%;
}